nav.bg-primary{
    background-color: #343a40;
}
.btn:hover{
    background-color: #343a40;
    color: white;
}
.btn{
    background-color: #343a40;
}

.mt20{
    margin-top: 20px;
}


/* 2:24:56 */

/* Post Page */
.container-custom{
    width: 90% !important;
    margin: auto !important;
    /* margin-left: 10%; */
}

.item{
    margin-left: 5%;
    height: 400px;
}
.cat-img{
    max-height: 250px;
}
.brand-logo{
    color: white;
}
