{% extends 'base.html' %}

{%block title%}Category{%endblock title%}

{% block content %}
 <div class="container-custom">
      <h3>{{category.title}}</h3>
      <div class="img-container">
           <img src="/media/{{category.image}}" class="responsive-img cat-img" width="250px" hieght="250px" alt="">
           
      </div>
      <div class="collection">
           {%for p in posts%}
               <a href="/blog/{{p.url}}" class="collection-item">{{p.title}}</a>
          {%empty%}
          <h3>No Post in this category</h3>
          {%endfor%}
          
        </divl>
 </div>
{% endblock content %}

