
<!-- Dropdown Structure -->
<div class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
  <a href="{% url 'blog:home'%}" class="brand-logo">Kabul Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active"><a href="{% url 'blog:home'%}" class="nav-link">Home</a></li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">Category</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {%for cat in cats%}
       
          <a class="dropdown-item" href="/category/{{cat.url}}">{{cat.title}}</a>
          {%endfor%}
        </div>
      </li>
      {% if user.is_authenticated%}
      <li>
        <li class="nav-item"><a href="{% url 'blog:home'%}" class="nav-link">{{request.user}}</a></li>
        <li class="nav-item"><a href="{% url 'blog:addpost'%}" class="nav-link">Add Post</a></li>
      </li>
      <li class="nav-item"><a href="{% url 'blog:logout'%}" class="nav-link">Logout</a></li>
      {% else %}
      <li class="nav-item"><a href="{% url 'blog:register'%}" class="nav-link">Register</a></li>
      <li class="nav-item"><a href="{% url 'blog:login'%}" class="nav-link">Login</a></li>
      <li class="nav-item"><a href="/admin" class="nav-link">Admin Login</a></li>
      {%endif%}
    </ul>
  </div>
</div>
</div>


 