{% extends 'base.html' %}
{%block title%}Update Category {%endblock title%}
{% block content %}
<div class="container">
    <h1 class="text-center">Update Category</h1>
<div class="row z-depth-5">
    <form class="col s12" enctype="multipart/form-data" method = "POST">
      <div class="row">
        <div class="input-field col s12">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update Category</button>

        </div>
      </div>
    </form>
  </div>
  </div>


{% endblock %}